@{ 
    ViewBag.Title = "Nueva Cuenta";
}
@model Model.ViewModels.AddAccountViewModel
<h2 class="text-center mt-5">Nueva Cuenta</h2>
<hr />
<div class="row justify-content-center mt-5">
    <div class="col-">
        @Html.AntiForgeryToken()
        <form action="/AccountClient/Add" id="formAddAccount" class="form-group" method="post">
            <div>
                <label for="Name">Nombre de la Cuenta</label>
                <input type="text" class="form-control" name="Name" value="" />
                <input type="hidden" name="ClientId" value="@Model.Id" />
            </div>
            <div class="mt-2">
                <button class="btn btn-success">Crear Cuenta</button>
                @Html.ActionLink("Volver", "Index", "Client", null, new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Forms/Main.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

@if (ViewBag.response == 7)
{
<script>
    swal("Ha ocurrido un error!", "ha excedido la cantidad de caracteres maxima o el campo por alguna razon quedo vacio!", "error");
</script>
}

